
.mainLayout {
  display: flex;
}
.contentWrapper {
  width: 100%;
  max-width: 900px;
  padding: 20px;
}

.mainContent {
  flex: 1;
  display: flex;
  justify-content: center; 
}
.container {
  min-height: 100vh;
  background-color: #fff;
}

.row {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
  width: 100%;
  
}

.cursorNotAllowed {
  cursor: not-allowed;
}
.rating{
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 8px;
}
.icon {
    color: #fff;
    font-size: 14px;
    stroke: #7a7e7f;
    stroke-width: 30;
}

.menuBtn {
  top: 20px;
  right: 16px;
  z-index: 1001;
  color: #032b41;
  border: none;
  padding: 10px 14px;
  font-size: 24px;
  border-radius: 6px;
  cursor: pointer;
  display: none;
  
}


.sidebar {
  width: 220px;
  flex-shrink: 0;
  background-color: #f7f9fa;
  height: 100vh;
  position: fixed;
  padding: 24px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;

}



.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  font-size: 24px;
  color: #032b41;
  margin-bottom: 40px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px;
  text-decoration: none;
  color: #032b41;
  font-weight: 500;
}

.navItem svg {
  width: 20px;
  height: 20px;
}

.bottomNav {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content {
  padding: 40px;
  width: 100%;
  height: 100px;
  z-index: 1;
}

.horizontallyDivider{
    display: flex;
    width: 100%;
    height: 1px;
    background-color: #e1e7ea;
    margin: 10px auto;
}

.header {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    gap: 20px;
}

.searchBar {
  display: flex;
  border: 1px solid #e1e8ed;
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
  max-width: 400px;
  outline: none;
  background-color: #f1f6f4;
  color: #042330;
  border: 2px solid #e1e7ea;
  border-radius: 8px;
  height: 40px;
}

.searchBar input {
  padding: 10px;
  border: none;
  flex-grow: 1;
  outline: none;
}

.searchBar button {
  background: none;
  border: none;
  padding: 0 15px;
  border-left: 1px solid #e1e8ed;
  cursor: pointer;
}

.searchBar button svg {
  width: 16px;
  height: 16px;
  text-align: center;
}

.sectionSelectedForYou{
    display: flex;
    flex-direction: column;
    margin-left: 220px;
    gap: 10px;
    margin-top: 10px;
}

.section{
    display: flex;
    flex-direction: column;
    margin-left: 240px;
    gap: 10px;
    margin-top: 10px;
}

.sectionTitle {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px;
}

.subtitle {
    font-size: 16px;
    color: #555;
    margin-bottom: 16px;
}

.selectedBook {
    display: flex;
    justify-content: space-between;
    width: calc((100% / 3) * 2);
    background-color: #fbefd6;
    border-radius: 4px;
    padding: 24px;
    margin-bottom: 24px;
    gap: 24px;
}

.selectedSubtitle {
    flex: 1;
    font-size: 16px;
    color: #555;
}

.divider {
    width: 1px;
    height: 80px;
    background-color: #ccc;
}

.selectedContent {
    display: flex;
    gap: 24px;
    align-items: center;
}

.selectedImage {
    width: 140px;
    height: 140px;
    border-radius: 4px;
}

.selectedText {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.playBook{
    display: flex;
    align-items: center;
    gap: 6px;
}

.selectedText h3 {
    font-size: 18px;
    margin: 0;
    font-weight: bold;
}

.selectedText p {
    font-size: 14px;
    color: #666;
    margin: 4px 0 0 0;
}
.listenLink{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 10px;
}

.playerIcon{
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    padding: 4px 4px 4px 6px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.bookGrid {
    display: flex;
    flex-direction: row;
    gap: 30px;
    overflow-x: auto;
    margin-bottom: 40px;
    position: relative;
    z-index: 1;
}

.bookGrid::-webkit-scrollbar {
    display: none;
}

.bookItem {
  position: relative;
  width: 172px;
  text-align: center;
  transition: transform 0.3s ease;
  padding-top: 30px;
  z-index: 1;
}

.bookItem::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background-color: #f1f4f5;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}

.bookItem:hover::before {
  opacity: 1;
}



.bookItem img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.bookItem h3 {
    font-size: 16px;
    margin: 8px 0;
    font-weight: bold;
    text-align: left;
}

.bookItem p {
    font-size: 14px;
    color: #666;
    text-align: left;
}

.bookItem .book__subtitle {
    margin-top: 4px;
    color: black;
    font-weight: 500;
}

.settingsTitle {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 8px;
}

.settingsSubTitle {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}

.bookDetails {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  margin-left: 220px;
  gap: 10px;
  padding: 0 24px;
}


.bookDetailsContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  max-width: 700px; 
  
}
.bookImage{
    width: 300px;
    height: 300px;
    border-radius: 4px;
}

.bookTitle{
    color:#032b41;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 8px;
    max-width: 380px;
    line-height: 1.2;
    word-break: break-word;
    
}
.btn{
    display: flex;
    gap: 20px;
}

.startBtn{
    background-color: #032b41;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    
}

.bookDescription{
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.btnSaveBook{
  display: flex;
  gap: 10px;
  align-items: center;
  color: #0365f2;
  font-weight: 510;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 10px;
}
.blue{
  stroke: #0365f2;
  stroke-width: 30;
}

.secondTitle{
  font-size: 18px;
  color: #032b41;
  margin-bottom: 16px;
  font-weight: 600;
}

.btnTags{
    background-color: #f1f6f4;
    padding: 0 16px;
    height: 48px;
    display: flex;
    align-items: center;
    cursor: not-allowed;
    color: #032b41;
    font-weight: 550;
    border-radius: 4px;
    transition: background-color .2s;
}

.contentDescription{
  max-width: 700px;
  color: #032b41;
  margin-bottom: 16px;
  line-height: 1.5;
}
.summaryContent{
  margin: 0 auto;
  max-width: 780px;
  margin-bottom: 100px;
}

.bookSummary{
  white-space: pre-line;
  line-height: 1.4;
  color: #032b41;
  margin: 0 auto;
}

.bookPlayerTitle{
  color:#032b41;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 8px;

}

.player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  background: #062f36;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 15px 30px;
}

.playerLeft {
  display: flex;
  align-items: center;
  gap: 12px;
}

.playerImage {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.playerTitle {
  font-size: 14px;
  font-weight: 600;
}

.playerAuthor {
  font-size: 12px;
  opacity: 0.7;
}

.playerCenter {
  display: flex;
  align-items: center;
  gap: 20px;
}

.playerCenter button {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.playBtn {
  font-size: 26px;
  background: white;
  color: black;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.playerRight {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 300px;
}

.slider {
  flex: 1;
  cursor: pointer;
}

.subscriptionBtn{
    background-color: #032b41;
    color: white;
    border-radius: 20px;
    font-size: 10px;
    height: 18px;
    padding: 0 8px;
    position: absolute;
    top: 0px;
    right: 0;
    display: flex;
    align-items: center;
}

.upgradeButton{
    background-color: #2bd97c;
    color: #032b41;
    width: 220px;
    height: 40px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    transition: background-color .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 180px;
    cursor: pointer;
}


.searchWrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
}
.searchDropdown {
  position: absolute;
  top: 100px;
  left: 50%;
  width: 30%;
  background: white;
  border: 1px solid #e1e7ea;
  border-radius: 8px;
  margin-top: 6px;
  padding: 8px 0;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  z-index: 1000;
  max-height: 300px;
  overflow-y: auto;
}

.searchItem {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 14px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.searchItem:hover {
  background: #f5f7f8;
}

.searchItem img {
  width: 40px;
  height: 60px;
  object-fit: cover;
  border-radius: 4px;
}

.searchTitle {
  font-size: 14px;
  font-weight: 600;
  color: #032b41;
}

.searchAuthor {
  font-size: 12px;
  color: #666;
}

.fontSize{
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.small{
  font-size: 16px;
  cursor: pointer;

}

.medium{
  font-size: 18px;
  cursor: pointer;
}

.large{
  font-size: 22px;
  cursor: pointer;
}
.x-large{
  font-size: 26px;
  cursor: pointer;
}

.underline:focus{
  border-bottom: 3px solid #2bd97c;
}

.settingsLocked{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  
}

.settingsLockedImage{
  width: 460px;
  height: auto;
  margin: 20px auto;
}

.loginToAccess{
  font-size: 24px;
  font-weight: 700;
  color: #032b41;
  margin-bottom: 16px;
  text-align: center;
}


@media(max-width:1000px){
  .bookDetails{
    flex-direction: column-reverse;
    
  }
  .bookDetailsContent{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
}

@media(max-width: 860px){

  .sectionSelectedForYou{
    display: flex;
    flex-direction: column;
  }

  .selectedBook{
    display: flex;
    flex-direction: column;
  }
  .divider{
    display:none;
  }

}



@media (max-width: 768px) {
  .bookDetails{
    margin-left: 0;
    padding: 0 16px;
  }

   .searchBar {
    width: 100%;
    max-width: none;
  }

  .nav .nav__wrapper{
    display: none;
  }
  .menuBtn {
    display: block;
  }

  .sidebar {
    transform: translateX(-100%);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
  }
  .logo{
    width: 40%;
  }


  .sidebar.open {
    transform: translateX(0);
  }

  .sectionSelectedForYou{
    display: flex;
    margin-left: 10px;
  }
  .section{
    margin-left: 10px;
  }
  
  .selectedBook{
    width: 100%;
    max-width: none;
  }

  .player{
    display: flex;
    flex-direction: column;
  }
  .searchDropdown{
    width: 90%;
    left: 0;
  }
}